extends layout

block content
  h1= title

  p Number of rows is #{query.rows} and columns is #{query.cols}
  - var rows = Number(query.rows)
  - var col = Number(query.cols)
  if Number.isNaN(rows) || Number.isNaN(col)
    p Rows or Columns must be a number. Please check
  else if rows>10 || rows<1
    p Rows number should be from 1 to 10
  else if col>10 || col<1
    p Columns number should be from 1 to 10
  