extends layout

block content
  h1= title
  p Welcome to #{title}. My Name is Tejeswar Bobba. I like playing cricket.
  button(type="button", class="btn btn-warning") Press me for contents

  script.
    console.log("running on http://localhost:3000/")